{% extends 'aplicacion/home.html' %}

{% block titulo %}
<h2 class="display-5 fw-bolder text-white mb-2">Paula Minassian</h2>
{% endblock titulo %}


{% block contenido %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Acerca de mi</title>

			<!-- Custom styles for this template go here -->
				<link rel="stylesheet" href="css/about_styles.css">

			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif]-->			
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Acerca de mi</h1>
			</div><!-- end header--> 
			<div class="image">
				<img src="/media/fondo/foto_pau.jpg" width="200" height="200">
			</div><!-- end image-->
			<div class="intro column">
				<h2>Perfil Profesional</h2>
				<p>
					Profesional con amplios conocimientos en comercio internacional y logistica, hoy en dia ademas adentrandome
                    en el mundo de Data Science y Analytics. 
				</p>
			</div><!-- end intro-->
			<div class="main-text">
				<h3>Personal</h3>
				<p>
					Tengo 32 años, estoy casada y tengo una perrita adoptada llamada Pera. En mi tiempo libre entreno boxeo y hago yoga. 
				</p>
			</div><!-- end main-text-->
		</div><!--end container-->
	</body>
</html>


{% endblock contenido %}