{% extends 'aplicacion/home.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">TUCCI Shipping</h1>
<p class="lead text-white-50 mb-4">Clientes</p>
{% endblock titulo %}


{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Clientes</h2></td>
        <td>
            <a
            href="{% url 'cliente_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
    </tr>
</table> 
    <table class="table table-stripped text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Contacto</th>
            </tr>
        </thead>
        <tbody>
    {% for c in clientes_list %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.razon_social }}</td>
                <td>{{ c.contacto }}</td>
                <td>
                    <a
                      href="{% url 'cliente_update' c.id %}"
                      class="btn btn-primary"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                      href="{% url 'cliente_delete' c.id %}"
                      class="btn btn-danger"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>                
                  </td>
            </tr>
    {% endfor %}
        </h6>
        </tbody>  
    </table>
{% endblock contenido %}