{% extends 'aplicacion/home.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Tucci S.A.</h1>
<p class="lead text-white-50 mb-4">Clientes</p>
{% endblock titulo %}


{% block contenido %}
    <h1>Clientes<h1>
        <h6>    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Contacto</th>
            </tr>
        </thead>
        <tbody>
    {% for c in clientes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.razon_social }}</td>
                <td>{{ c.contacto }}</td>
            </tr>
    {% endfor %}
        </h6>
        </tbody>  
    </table>
{% endblock contenido %}
    
